/*
 MEDIA QUERY MANAGER
0 - 600px: PHONE
500 - 900px: TABLET PORTRAIT
900 - 1200px: TABLET LANDSCAPE
[ 1200 - 1800 ] WHERE NORMAL STYLES APPLY
1800px: TABLET PORTRAIT


$breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desktop


ORDER: Base + typography > general layout + grid > page layout > components
 */
@keyframes pan-image {
  0% {
    background-position: 36% 42%;
    background-size: 150%; }
  20% {
    background-position: 30% 35%;
    background-size: 150%; }
  20.0001% {
    /* -- View 2 -- */
    background-position: 60% 85%;
    background-size: 250%; }
  40% {
    background-position: 49% 81%;
    background-size: 250%; }
  40.0001% {
    /* -- View 3 -- */
    background-position: 80% 42%;
    background-size: 200%; }
  60% {
    background-position: 84% 33%;
    background-size: 200%; }
  60.0001% {
    /* -- View 4 -- */
    background-position: 0% 0%;
    background-size: 200%; }
  80% {
    background-position: 15% 4%;
    background-size: 200%; }
  80.0001% {
    /* -- View 5 -- */
    background-position: 80% 10%;
    background-size: 200%; }
  100% {
    background-position: 72% 14%;
    background-size: 200%; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  /*60% {*/
  /*    transform: rotate(180deg);*/
  /*}*/
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* The typing effect */
@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: #DDE6ED; } }

@keyframes fadeOverlay {
  0% {
    opacity: .7;
    background: #27374D;
    color: #D7DBDE; }
  100% {
    opacity: .9;
    background: #f84e45;
    color: #27374D; } }

@keyframes rotation {
  0% {
    --gradient-angle: 0deg; }
  100% {
    --gradient-angle: 360deg; } }

@keyframes zoomInOut {
  0%, 100% {
    transform: scale(1); }
  50% {
    transform: scale(1.1);
    /* Zoom in */ } }

@keyframes scroll {
  to {
    transform: translate(calc( -50% - 1rem)); } }

html {
  color-scheme: dark; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  font-family: "IBM Plex Sans", monospace;
  font-weight: 400;
  line-height: 1.6; }

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  background-color: #D7DBDE; }

.error-message,
.success-message {
  display: none;
  margin: 1rem 0;
  border-radius: 5px;
  padding: .5rem; }

.error-message {
  color: #DDE6ED;
  background-color: #ff0033; }

.success-message {
  color: #27374D;
  background-color: #00ff33; }

.columns {
  display: flex;
  justify-content: space-around; }

.column {
  flex: 1;
  padding: 20px;
  margin-right: 20px;
  color: #D7DBDE; }

.column:last-child {
  margin-right: 0; }

@media (max-width: 768px) {
  .columns {
    flex-direction: column; }
  .column {
    margin-right: 0;
    margin-bottom: 20px; } }

.loader {
  position: relative;
  animation: flix 3s ease-in infinite alternate; }

.loader:before {
  content: '';
  display: block;
  font-size: 0;
  width: 48px;
  height: 48px;
  background-color: #fff;
  background-image: radial-gradient(circle 12px at 22px 22px, #f84e45 100%, transparent 0), radial-gradient(circle 10px at 6px 40px, #f84e45 100%, transparent 0), radial-gradient(circle 14px at 31px -6px, #f84e45 100%, transparent 0), radial-gradient(circle 5px at 40px 30px, #f84e45 100%, transparent 0);
  border-radius: 50%;
  animation: rotate 1s linear infinite; }

.loader:after {
  content: '';
  position: absolute;
  top: 0%;
  transform: translate(-50%, -100%);
  left: 50%;
  width: 24px;
  height: 12px;
  background: #fff;
  border-radius: 50px 50px 0 0; }

@keyframes flix {
  0%, 60% {
    transform: rotate(-10deg); }
  100%, 30%, 80% {
    transform: rotate(5deg); } }

@keyframes rotate {
  100% {
    transform: rotate(360deg); } }

.loader-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000; }

.loader-wrapper {
  display: flex; }

.custom-shape-divider-top-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0; }

.custom-shape-divider-top-1 svg {
  position: relative;
  display: block;
  width: calc(155% + 1.3px);
  height: 84px;
  transform: rotateY(180deg); }

.custom-shape-divider-top-1 .shape-fill {
  fill: #f84e45;
  box-shadow: 0 0 4em #f84e45; }

.custom-shape-divider-bottom-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg); }

.custom-shape-divider-bottom-1 svg {
  position: relative;
  display: block;
  width: calc(114% + 1.3px);
  height: 42px;
  transform: rotateY(180deg); }

.custom-shape-divider-bottom-1 .shape-fill {
  fill: #f84e45; }

#headerDivider {
  height: 0; }

#headerDivider.show {
  height: auto;
  transition: height 0.5s ease-in-out; }

.custom-shape-divider-top-1-primary .shape-fill {
  fill: #DDE6ED; }

.custom-shape-divider-bottom-1 svg,
.custom-shape-divider-top-1 svg {
  width: 400%; }

.section-footer {
  padding-bottom: 4rem; }
  .section-footer .columns {
    padding: 0 16px; }
    @media screen and (min-width: 75em) {
      .section-footer .columns {
        max-width: 85%;
        margin-left: auto;
        margin-right: auto; } }
    .section-footer .columns .column__content {
      display: flex;
      flex-direction: column;
      gap: 1rem; }
      .section-footer .columns .column__content-title {
        font-weight: 900; }
  .section-footer .footer__wrapper {
    font-family: "Josefin Sans", sans-serif; }
    .section-footer .footer__wrapper-content .social-media {
      display: flex;
      gap: 1rem;
      justify-content: space-evenly;
      align-items: center;
      padding: 1rem 0; }
      .section-footer .footer__wrapper-content .social-media .fab {
        color: #D7DBDE;
        font-size: 1.5rem; }
        .section-footer .footer__wrapper-content .social-media .fab:hover {
          color: #f84e45; }
    .section-footer .footer__wrapper-content input {
      padding: 1rem;
      border: none;
      border-radius: 5px;
      margin-top: 1rem;
      width: 100%;
      background-color: #D7DBDE;
      color: #27374D; }
      .section-footer .footer__wrapper-content input::placeholder {
        color: #27374D; }
      .section-footer .footer__wrapper-content input:focus {
        outline: none; }
    .section-footer .footer__wrapper-content button {
      padding: 1rem;
      border: none;
      border-radius: 5px;
      margin-top: 1rem;
      width: 100%;
      background-color: #f84e45;
      color: #27374D;
      font-weight: 900;
      cursor: pointer; }
      .section-footer .footer__wrapper-content button:hover {
        background-color: #D7DBDE;
        color: #f84e45; }
    .section-footer .footer__wrapper-content .loader-wrapper {
      padding: 2rem 1rem;
      justify-content: center; }
    .section-footer .footer__wrapper-copyright {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      justify-content: center; }

header {
  background-image: linear-gradient(to right bottom, rgba(39, 55, 77, 0.9), rgba(248, 78, 69, 0.2)), url("/img/background/header.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  animation: pan-image 25s linear infinite; }
  header .logo {
    display: flex;
    cursor: pointer; }
    header .logo img {
      height: 3.5rem;
      width: auto; }
    @media screen and (max-width: 56.25em) {
      header .logo {
        margin-left: 1rem; }
        header .logo img {
          height: 2rem; } }
  header .header__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "IBM Plex Sans", monospace;
    font-size: 1.8rem; }
    header .header__wrapper .header__text {
      color: #DDE6ED;
      letter-spacing: 10px;
      margin-bottom: 2rem;
      font-weight: 700; }
      header .header__wrapper .header__text h1 {
        text-transform: uppercase;
        background-color: #f84e45;
        animation: moveInBottom 1s ease-out; }
      header .header__wrapper .header__text p {
        animation: moveInBottom 1.7s ease-out;
        font-family: "IBM Plex Sans", monospace; }
      @media screen and (max-width: 56.25em) {
        header .header__wrapper .header__text {
          letter-spacing: 5px;
          font-size: 1rem;
          width: max-content; } }
  @media screen and (max-width: 56.25em) {
    header {
      background-image: linear-gradient(to right bottom, rgba(39, 55, 77, 0.9), rgba(248, 78, 69, 0.2)), url("/img/background/header.jpg");
      height: 100vh;
      background-size: cover;
      background-position: center;
      animation: none; } }

.nav {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  padding: 20px 0 20px 0; }
  @media screen and (min-width: 75em) {
    .nav {
      max-width: 85%;
      margin-left: auto;
      margin-right: auto; } }

.menu {
  --_gap: 2rem;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none; }
  @media screen and (max-width: 56.25em) {
    .menu {
      display: none;
      flex-direction: column;
      position: absolute;
      background-color: #27374D;
      top: 4rem;
      right: 2rem;
      z-index: 1; } }

.menu.menu-open {
  display: flex; }

.nav a {
  color: #DDE6ED;
  opacity: 0.7;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500; }

.nav a:hover,
.nav a:focus-visible {
  opacity: 1; }

.nav li {
  overflow: hidden;
  position: relative;
  padding: calc(var(--_gap) / 2);
  min-inline-size: 3rem; }

.nav li::after {
  content: '';
  position: absolute;
  inset-inline: 0;
  inset-block-end: 0;
  block-size: 3px;
  background-color: #f84e45;
  translate: var(--_translate, 0);
  scale: var(--_scale, 0) 1;
  transition: scale 100ms var(--_scale-delay, 0ms), translate 200ms; }

/* A previous sibling is hovered */
.nav li:hover ~ li {
  --_translate: -100%;
  --_scale-delay: 200ms; }

/* Any other sibling is hovered */
.nav:hover li {
  --_translate: 100%;
  --_scale-delay: 200ms; }

/*
  The actually hovered <li>

  NOTE: same specificity as previous selector, so it must either come after or be artificially inflated (eg. :hover:hover)
*/
.nav li:hover {
  --_scale: 1;
  --_translate: 0;
  --_scale-delay: 0ms; }

#toTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  outline: none;
  background-color: #27374D;
  color: #DDE6ED;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px; }

#toTop:hover {
  background-color: #f84e45;
  transition: background-color 0.2s ease-in-out;
  color: #27374D;
  box-sizing: border-box; }

.menu-button {
  display: none; }
  @media screen and (max-width: 56.25em) {
    .menu-button {
      display: block;
      width: 30px;
      height: 20px;
      position: relative;
      cursor: pointer;
      right: 2rem; } }

.bar {
  width: 100%;
  height: 3px;
  background-color: white;
  position: absolute;
  transition: transform 0.3s ease; }

.bar:nth-child(1) {
  top: 0; }

.bar:nth-child(2) {
  top: 8px; }

.bar:nth-child(3) {
  top: 16px; }

.menu-open .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg); }

.menu-open .bar:nth-child(2) {
  opacity: 0; }

.menu-open .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg); }

.section {
  position: relative;
  width: 100%; }

.section-full {
  height: 100vh; }

.section-half {
  height: 50vh; }

.section-quarter {
  min-height: 25vh; }

@media screen and (max-width: 50em) {
  .section-full,
  .section-half,
  .section-quarter {
    position: relative;
    height: fit-content; } }

.section-color-primary {
  background-color: #DDE6ED; }

.section-color-secondary {
  background-color: #D7DBDE; }

.section-color-accent {
  background-color: #f84e45; }

.section-color-background {
  background-color: #27374D; }

.section-about {
  height: 25vh;
  transition: height 1s ease-in-out; }
  @media screen and (max-width: 56.25em) {
    .section-about {
      height: fit-content; } }
  .section-about__wrapper {
    padding: 0 16px;
    width: 100%;
    height: 100%;
    padding-top: 4.5%; }
    @media screen and (min-width: 75em) {
      .section-about__wrapper {
        max-width: 85%;
        margin-left: auto;
        margin-right: auto; } }
  .section-about__logo {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; }
    .section-about__logo img {
      filter: brightness(0) invert(1);
      height: 3.5rem; }
  .section-about__subtitle {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    color: #DDE6ED;
    width: max-content;
    margin: 0 auto; }
    .section-about__subtitle .typewriter {
      font-family: "IBM Plex Sans", monospace; }
      @media screen and (max-width: 56.25em) {
        .section-about__subtitle .typewriter {
          font-size: 1rem;
          width: 100%;
          animation: none; } }
    @media screen and (max-width: 56.25em) {
      .section-about__subtitle {
        font-size: 1rem;
        width: 100%; }
        .section-about__subtitle .typeWriter {
          animation: none; } }
  .section-about__text {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.2rem;
    padding-top: 50px;
    margin: 0 auto;
    text-indent: 4rem;
    width: 75%; }
    @media screen and (max-width: 56.25em) {
      .section-about__text {
        font-size: 1rem;
        width: 100%;
        opacity: 1; } }

.section-about:hover {
  height: 40vh;
  transition: height 1s ease-in-out; }
  .section-about:hover .section-about__subtitle {
    opacity: 1;
    transition: opacity 1s ease-in-out;
    transition-delay: .5ms; }
    .section-about:hover .section-about__subtitle .typewriter {
      display: block;
      overflow: hidden;
      /* Ensures the content is not revealed until the animation */
      border-right: 0.15em solid #DDE6ED;
      /* The typwriter cursor */
      white-space: nowrap;
      /* Keeps the content on a single line */
      margin: 0 auto;
      /* Gives that scrolling effect as the typing happens */
      letter-spacing: .15em;
      /* Adjust as needed */
      animation: typing 1.5s steps(40, end), blink-caret 0.75s step-end infinite; }
  .section-about:hover .section-about__text {
    opacity: 1;
    transition: opacity 1s ease-in-out;
    transition-delay: 1s; }

.section-testimonials__slider {
  padding-left: 159px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden; }
  .section-testimonials__slider__navigation {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    gap: 20px;
    position: absolute;
    bottom: 2rem;
    right: 4rem; }
    .section-testimonials__slider__navigation__prev, .section-testimonials__slider__navigation__next {
      width: 50px;
      height: 50px;
      background-color: #f84e45;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: #27374D;
      font-weight: 1000; }

.section-testimonials__track {
  display: flex;
  gap: 30px;
  position: relative;
  transition: left .9s ease-out; }

.section-testimonials__item {
  width: fit-content;
  overflow-x: auto;
  display: flex;
  gap: 20px;
  padding: 20px;
  cursor: pointer; }
  .section-testimonials__item__image {
    position: relative;
    height: 400px;
    width: 400px; }
    .section-testimonials__item__image img {
      width: 400px;
      height: 400px;
      margin: 0 auto;
      object-fit: cover;
      border-radius: 50%; }
    .section-testimonials__item__image-overlay {
      bottom: 9px;
      width: 100%;
      background: #27374D;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #D7DBDE;
      opacity: .7;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: opacity .5s;
      transition-property: opacity, background, color;
      transition-duration: .5s; }
      .section-testimonials__item__image-overlay:hover {
        animation: fadeOverlay .2s ease-in;
        background: #f84e45;
        color: #27374D;
        opacity: .9; }
    @media screen and (max-width: 56.25em) {
      .section-testimonials__item__image {
        width: 300px;
        height: 300px; }
        .section-testimonials__item__image img {
          width: 300px;
          height: 300px; } }
  .section-testimonials__item__content {
    display: none;
    gap: 20px;
    flex-direction: column;
    color: #27374D;
    justify-content: space-between;
    margin-bottom: 4px;
    position: relative; }
    .section-testimonials__item__content:before {
      content: '';
      position: absolute;
      width: 22px;
      height: 100px;
      bottom: 43px;
      left: -20px;
      border-bottom: 2px solid #27374D; }
      @media screen and (max-width: 56.25em) {
        .section-testimonials__item__content:before {
          display: none; } }
  @media screen and (max-width: 56.25em) {
    .section-testimonials__item {
      flex-direction: column; } }

.section-testimonials__item--active {
  width: 800px;
  padding: 20px;
  pointer-events: none;
  box-shadow: 0 0 5em #27374D;
  box-sizing: border-box;
  margin: -2px;
  border-radius: 20px;
  transition: all .2s ease-in; }
  .section-testimonials__item--active .section-testimonials__item__content {
    display: flex; }
    .section-testimonials__item--active .section-testimonials__item__content .section-testimonials__item__author {
      opacity: 1;
      border: 2px #27374D solid;
      background-color: #f84e45;
      padding: 1rem;
      border-radius: 10px;
      color: #DDE6ED; }
  .section-testimonials__item--active .section-testimonials__item__image img {
    border-radius: 10px;
    border: 2px solid #27374D; }
  .section-testimonials__item--active .section-testimonials__item__image-overlay {
    border-radius: 10px;
    opacity: 0; }
  @media screen and (max-width: 56.25em) {
    .section-testimonials__item--active {
      box-shadow: none;
      width: 400px; } }

@media screen and (max-width: 56.25em) {
  .section-testimonials {
    padding: 10rem 1rem; }
    .section-testimonials__slider {
      padding-left: 0; } }

.section-testimonials__item {
  animation-duration: 0.5s; }

.section-testimonials__item {
  opacity: 0; }

.section-testimonials__item.active {
  animation: moveInBottom 1s ease-in-out;
  opacity: 1; }

@media screen and (max-width: 56.25em) {
  .section-testimonials__slider__navigation div {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease;
    font-weight: 600; } }

.section-testimonials__slider__navigation div:hover {
  transform: scale(1.1);
  animation: none; }

@keyframes bounce-prev {
  0%, 100% {
    transform: translateY(0); }
  50% {
    transform: translateY(5px); } }

@keyframes bounce-next {
  0%, 100% {
    transform: translateY(0); }
  50% {
    transform: translateY(-5px); } }

.section-testimonials__slider__navigation__prev:hover {
  animation: bounce-prev 0.5s infinite; }

.section-testimonials__slider__navigation__next:hover {
  animation: bounce-next 0.5s infinite; }

.section-services {
  background-image: linear-gradient(to bottom, rgba(39, 55, 77, 0.2), #dde6ed), url("../../img/background/header-bk2.jpg");
  background-size: cover; }
  .section-services .section-services__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 0; }
    @media screen and (min-width: 62.5em) {
      .section-services .section-services__wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); } }
    @media screen and (min-width: 62.5em) {
      .section-services .section-services__wrapper {
        max-width: 85%;
        margin-left: auto;
        margin-right: auto; } }
    .section-services .section-services__wrapper .section-services__content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 5rem;
      position: relative; }
      @media screen and (max-width: 50em) {
        .section-services .section-services__wrapper .section-services__content {
          grid-template-columns: 1fr;
          padding: 0 2rem; } }
      .section-services .section-services__wrapper .section-services__content__item__icon {
        font-size: 2rem;
        color: #27374D;
        display: flex;
        gap: 1rem;
        align-items: center;
        font-family: "Josefin Sans", sans-serif;
        padding: 1rem; }
        .section-services .section-services__wrapper .section-services__content__item__icon h3 {
          font-size: 1.5rem;
          font-weight: 700;
          color: #27374D; }
      .section-services .section-services__wrapper .section-services__content__item__text {
        padding: 1rem; }
        .section-services .section-services__wrapper .section-services__content__item__text p {
          font-family: "IBM Plex Sans", monospace;
          font-size: 1rem;
          color: #27374D; }
      .section-services .section-services__wrapper .section-services__content__item:hover .section-services__content__item__icon {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        color: #DDE6ED;
        background-color: #27374D; }
        .section-services .section-services__wrapper .section-services__content__item:hover .section-services__content__item__icon i {
          animation: zoomInOut 1s linear infinite; }
        .section-services .section-services__wrapper .section-services__content__item:hover .section-services__content__item__icon h3 {
          color: #DDE6ED; }
      .section-services .section-services__wrapper .section-services__content__item:hover .section-services__content__item__text {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border: 2px solid #27374D;
        box-sizing: unset; }
        .section-services .section-services__wrapper .section-services__content__item:hover .section-services__content__item__text p {
          margin: -2px; }
  @media screen and (max-width: 75em) {
    .section-services {
      padding: 10em 1em; } }

.section-contact {
  background-image: linear-gradient(to bottom, rgba(221, 230, 237, 0), #27374d), url("../../img/background/header-bk4.jpg");
  background-size: cover; }
  .section-contact .section-contact__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    min-height: 476px;
    border: 2px solid rgba(221, 230, 237, 0.5);
    border-radius: 10px; }
    .section-contact .section-contact__container .section-contact__wrapper {
      width: 452px;
      text-align: center;
      background-color: #27374D;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      padding: 2rem 4rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .section-contact .section-contact__container .section-contact__wrapper .section-contact__title {
        font-size: 2rem;
        color: #DDE6ED;
        font-family: "Josefin Sans", sans-serif; }
      .section-contact .section-contact__container .section-contact__wrapper .section-contact__form form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem; }
        .section-contact .section-contact__container .section-contact__wrapper .section-contact__form form input {
          position: relative;
          width: 100%;
          padding: 1rem;
          border: none;
          border-radius: 5px;
          color: #DDE6ED;
          font-size: 1.5rem;
          transition: all 0.3s; }
          .section-contact .section-contact__container .section-contact__wrapper .section-contact__form form input:focus {
            outline: none;
            box-shadow: 0 0 5px #DDE6ED; }
            .section-contact .section-contact__container .section-contact__wrapper .section-contact__form form input:focus:after {
              content: '';
              position: absolute;
              width: 5px;
              height: 5px;
              background-color: orangered; }
        .section-contact .section-contact__container .section-contact__wrapper .section-contact__form form textarea {
          width: 100%;
          padding: 1rem;
          border: none;
          border-radius: 5px;
          background-color: #27374D;
          color: #DDE6ED;
          font-size: 1.5rem;
          transition: all 0.3s;
          resize: none; }
          .section-contact .section-contact__container .section-contact__wrapper .section-contact__form form textarea:focus {
            outline: none;
            box-shadow: 0 0 5px #DDE6ED; }
        .section-contact .section-contact__container .section-contact__wrapper .section-contact__form form input,
        .section-contact .section-contact__container .section-contact__wrapper .section-contact__form form textarea {
          background-color: rgba(248, 78, 69, 0.8); }
          .section-contact .section-contact__container .section-contact__wrapper .section-contact__form form input::placeholder,
          .section-contact .section-contact__container .section-contact__wrapper .section-contact__form form textarea::placeholder {
            font-family: "Josefin Sans", sans-serif;
            color: #D7DBDE;
            opacity: .5; }
        .section-contact .section-contact__container .section-contact__wrapper .section-contact__form form button {
          font-family: "Josefin Sans", sans-serif;
          padding: 1rem 2rem;
          border: none;
          border-radius: 5px;
          background-color: #DDE6ED;
          color: #27374D;
          font-size: 1.5rem;
          cursor: pointer;
          transition: all 0.3s;
          width: 100%; }
          .section-contact .section-contact__container .section-contact__wrapper .section-contact__form form button:hover {
            background-color: #D7DBDE; }
        .section-contact .section-contact__container .section-contact__wrapper .section-contact__form form .loader-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          padding-top: 12px; }
      .section-contact .section-contact__container .section-contact__wrapper .section-contact__form .success-message,
      .section-contact .section-contact__container .section-contact__wrapper .section-contact__form .error-message {
        position: absolute;
        width: 452px;
        bottom: -100px;
        left: 0; }
      .section-contact .section-contact__container .section-contact__wrapper .section-contact__form .success-message {
        box-shadow: 0 0 2rem #00ff33; }
      .section-contact .section-contact__container .section-contact__wrapper .section-contact__form .error-message {
        bottom: -80px;
        box-shadow: 0 0 2rem #ff0033; }
      @media screen and (max-width: 75em) {
        .section-contact .section-contact__container .section-contact__wrapper {
          width: inherit;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          padding: 2rem 2rem; } }
    .section-contact .section-contact__container .section-contact__image {
      border-left: 1px;
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
      position: relative; }
      .section-contact .section-contact__container .section-contact__image img {
        height: 100%;
        width: 400px;
        object-fit: cover;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        filter: grayscale(1);
        transition: all 1s; }
      .section-contact .section-contact__container .section-contact__image #overlay {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(39, 55, 77, 0.8);
        z-index: 2;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px; }
      @media screen and (max-width: 75em) {
        .section-contact .section-contact__container .section-contact__image {
          display: none; } }
    .section-contact .section-contact__container .section-contact__image:has(#overlay:hover) img {
      transition: all 1s;
      filter: grayscale(0); }
    @media screen and (max-width: 75em) {
      .section-contact .section-contact__container {
        padding: 0;
        width: fit-content;
        position: relative;
        transform: translate(0);
        top: 0;
        left: 0;
        border: none; } }
  @media screen and (max-width: 75em) {
    .section-contact {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10em 1em; } }

.section-clients .section-clients__title {
  font-family: "IBM Plex Sans", monospace;
  font-size: 3rem;
  color: #DDE6ED;
  text-align: center;
  padding: 2rem; }

.section-clients .section-clients__wrapper {
  display: flex; }
  .section-clients .section-clients__wrapper .section-clients__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    width: fit-content;
    padding-block: 2rem;
    flex-wrap: wrap; }
    .section-clients .section-clients__wrapper .section-clients__inner .section-clients__inner-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: #f84e45;
      max-width: fit-content;
      border-radius: 100px;
      padding: 1rem;
      gap: 1rem; }
      .section-clients .section-clients__wrapper .section-clients__inner .section-clients__inner-item img {
        border-radius: 50%;
        border: 2px solid #27374D;
        height: 4rem; }
      .section-clients .section-clients__wrapper .section-clients__inner .section-clients__inner-item span {
        font-family: "Josefin Sans", sans-serif;
        font-size: 1.5rem;
        color: #DDE6ED;
        white-space: nowrap;
        cursor: pointer; }
        .section-clients .section-clients__wrapper .section-clients__inner .section-clients__inner-item span p {
          position: absolute;
          opacity: 0;
          transition: all .2s linear; }
        .section-clients .section-clients__wrapper .section-clients__inner .section-clients__inner-item span:hover p {
          display: block;
          font-size: 1rem;
          color: #27374D;
          background-color: #DDE6ED;
          padding: 1rem;
          border-radius: 10px;
          position: absolute;
          z-index: 1;
          opacity: 1;
          transition: all .5s ease-in; }

.section-clients .section-clients__wrapper[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent); }
  .section-clients .section-clients__wrapper[data-animated="true"] .section-clients__inner {
    animation: scroll var(--_animation-duration, 200s) var(--_animation-direction, forwards) linear infinite;
    flex-wrap: nowrap; }

.section-clients .section-clients__wrapper[data-direction="right"] {
  --_animation-direction: reverse; }

body {
  font-family: Arial, sans-serif; }
