.columns {
    display: flex;
    justify-content: space-around;
}

.column {
    flex: 1;
    padding: 20px;
    margin-right: 20px; /* Adjust margin between columns */
    color: $color-secondary;
}

.column:last-child {
    margin-right: 0; /* Remove margin for the last column */
}

/* Optional: Add responsive styles */
@media (max-width: 768px) {
    .columns {
        flex-direction: column;
    }

    .column {
        margin-right: 0;
        margin-bottom: 20px; /* Adjust margin between columns for mobile view */
    }
}
