.columns {
    display: flex;
    justify-content: space-around;
}

.column {
    flex: 1;
    padding: 20px;
    margin-right: 20px;
    color: $color-secondary;
}

.column:last-child {
    margin-right: 0;
}

@media (max-width: 768px) {
    .columns {
        flex-direction: column;
    }

    .column {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
