header {
    background-image: linear-gradient(to right bottom, rgba($color-background, .9), rgba($color-accent, .2)), url("/img/background/header.jpg");
    //@include smoothFadingGradient( right bottom, 39, 55, 77 );
    //@include smoothFadingGradient( left top, 248, 78, 69 );
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    animation: pan-image 25s linear infinite;

    .logo {
        display: flex;
        cursor: pointer;

        img {
            height: 3.5rem;
            width: auto;
        }

        @include respond(tab-port) {
            margin-left: 1rem;

            img {
                height: 2rem;
            }
        }
    }

    .header__wrapper {
        @include absCenter();
        text-align: center;
        font-family: $font-primary;
        font-size: $size-lg;

        .header__text {
            color: $color-primary;
            letter-spacing: 10px;
            margin-bottom: 2rem;
            font-weight: $weight-bold;
            //@include textShadow();

            h1 {
                text-transform: uppercase;
                background-color: $color-accent;
                animation: moveInBottom 1s ease-out;
            }

            p {
                animation: moveInBottom 1.7s ease-out;
                font-family: $font-primary;
            }

            @include respond(tab-port) {
                letter-spacing: 5px;
                font-size: $size-xxs;
                width: max-content;
            }
        }
    }

    @include respond(tab-port) {
        background-image: linear-gradient(to right bottom, rgba($color-background, .9), rgba($color-accent, .2)), url("/img/background/header.jpg");
        height: 100vh;
        background-size: cover;
        background-position: center;
        animation: none;
    }
}


