.section {
    position: relative;
    width: 100%;


    &-box-shadow {
        //@include boxShadow( $color-background, true );
    }
}

.section-full {
    height: 100vh;
}

.section-half {
    height: 50vh;
}

.section-quarter {
    min-height: 25vh;
}

.section-full,
.section-half,
.section-quarter {
    @media screen and ( max-width: $bp-medium ) {
        position: relative;
        height: fit-content;
    }
}

.section-color-primary {
    background-color: $color-primary;
}

.section-color-secondary {
    background-color: $color-secondary;
}

.section-color-accent {
    background-color: $color-accent;
}

.section-color-background {
    background-color: $color-background;
}

@import 'sections/_section_about';
@import 'sections/_section_testimonials';
@import 'sections/_section_services';
@import 'sections/_section_future';
@import 'sections/_section_contact';
@import 'sections/_section_clients';
