.section {
    position: relative;
    width: 100%;


    &-box-shadow {
        //@include boxShadow( $color-background, true );
    }
}

.section-full {
    height: 100vh;
}

.section-half {
    height: 50vh;
}

.section-color-primary {
    background-color: $color-primary;
}

.section-color-accent {
    background-color: $color-accent;
}

.section-color-background {
    background-color: $color-background;
}

@import 'sections/_section_about';
@import 'sections/_section_testimonials';
