html {
  color-scheme: dark;
}

// RESPONSIVE BREAKPOINTS

$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  //font-size: 62.5%; // 10px/16px = 62.6% -> 1rem = 10px
  //
  //
  @include respond(tab-land) // width < 1200
  {
    //font-size: 56.25%;
  }

  @include respond(tab-port) // width < 900
  {
    //font-size: 50%;
  }

  @include respond(big-desktop) {
    //font-size: 75%;
  }
}

body {
  font-family: $font-primary;
  font-weight: 400;
  line-height: 1.6;
}

//:root{
//    --color-1:rgba(255, 255, 255, 0.1);
//    --color-2:rgba(255, 255, 255, 0.5);
//    --color-3:rgba(255, 255, 255, 0.75);
//    --color-4:rgba(0, 0, 0, 0.05);
//    --color-5: #644651;
//    --color-6: #fff;
//    --color-7: #040a29;
//    --color-8: rgba(255,255,255,0.075);
//    --x: 45deg;
//}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  background-color: $color-secondary;
}
