// FONT VARIABLES
$font-primary: 'IBM Plex Sans', monospace;
$font-display: 'Josefin Sans', sans-serif;

// FONT WEIGHTS
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;
$weight-black: 900;

// FONT SIZES
$size-xxs: 1rem;
$size-xs: 1.2rem;
$size-sm: 1.4rem;
$size-md: 1.6rem;
$size-lg: 1.8rem;
$size-xl: 2rem;
$size-xxl: 2.4rem;
