.section-about {
    height: 25vh;
    transition: height 1s ease-in-out;

    @include respond(tab-port) {
        height: fit-content;
    }

    &__wrapper {
        @include container();
        width: 100%;
        height: 100%;
        padding-top: 4.5%;
    }

    &__logo {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        //padding-top: 86px;

        img {
            filter: brightness(0) invert(1);
            height: 3.5rem;
        }
    }

    &__subtitle {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        @include transitionOpacityIn( 1s );
        color: $color-primary;
        width: max-content;
        margin: 0 auto;

        .typewriter {
            font-family: $font-primary;
            //@include typeWriter( $color-primary );

            @include respond(tab-port) {
                font-size: $size-xxs;
                width: 100%;
                animation: none;
            }
            //margin: 0 545px;
        }

        @include respond(tab-port) {
            font-size: $size-xxs;
            width: 100%;

            .typeWriter {
                animation: none;
            }
        }

    }

    &__text {
        @include transitionOpacityIn( .5s );
        font-family: $font-display;
        font-size: $size-xs;
        padding-top: 50px;
        margin: 0 auto;
        text-indent: 4rem;
        width: 75%;

        @include respond(tab-port) {
            font-size: $size-xxs;
            width: 100%;
            opacity: 1;
        }
    }
}


.section-about:hover {
    //background-color: $color-background;
    height: 40vh;
    transition: height 1s ease-in-out;

    .section-about__subtitle {
        @include transitionOpacityOut( 1s );
        transition-delay: .5ms;

        .typewriter {
            display: block;
            @include typeWriter( $color-primary, true );
            //margin: 0 545px;
        }
    }

    .section-about__text {
        @include transitionOpacityOut( 1s );
        transition-delay: 1s;
    }
}
