.section-about {
    &__wrapper {
        @include container();
        width: 100%;
        height: 100%;
    }

    &__logo {
        cursor: pointer;

        img {
            filter: brightness(0) invert(1);
            @include absCenter();
            height: 3.5rem;
        }
    }

    &:hover {
        background-color: $color-background;
    }
}
