.section-contact {
    //background-image: linear-gradient(to bottom, rgba($color-primary, .0), rgba($color-background, 1)), url("../../img/background/header-bk3.jpg");
    background-image: linear-gradient(to bottom, rgba($color-primary, .0), rgba($color-background, 1)), url("../../img/background/header-bk4.jpg");
    background-size: cover;
    //background-attachment: fixed;


    .section-contact__container {
        @include absCenter();
        display: flex;
        min-height: 476px;
        border: 2px solid rgba( $color-primary, .5);

        border-radius: 10px;

        .section-contact__wrapper {
            width: 452px;
            text-align: center;
            background-color: $color-background;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
            padding: 2rem 4rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            //border: 2px solid rgba( $color-primary, .5);

            .section-contact__title {
                font-size: 2rem;
                color: $color-primary;
                font-family: $font-display;
            }

            .section-contact__form {
                form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1rem;

                    input {
                        position: relative;
                        width: 100%;
                        padding: 1rem;
                        border: none;
                        border-radius: 5px;
                        color: $color-primary;
                        font-size: 1.5rem;
                        transition: all 0.3s;


                        &:focus {
                            outline: none;
                            box-shadow: 0 0 5px $color-primary;

                            &:after {
                                content: '';
                                position: absolute;
                                width: 5px;
                                height: 5px;
                                background-color: orangered;
                            }
                        }
                    }

                    textarea {
                        width: 100%;
                        padding: 1rem;
                        border: none;
                        border-radius: 5px;
                        background-color: $color-background;
                        color: $color-primary;
                        font-size: 1.5rem;
                        transition: all 0.3s;
                        resize: none;

                        &:focus {
                            outline: none;
                            box-shadow: 0 0 5px $color-primary;
                        }
                    }

                    input,
                    textarea {
                        background-color: rgba( $color-accent, .8);

                        &::placeholder {
                            font-family: $font-display;
                            color: $color-secondary;
                            opacity: .5;
                        }
                    }

                    button {
                        font-family: $font-display;
                        padding: 1rem 2rem;
                        border: none;
                        border-radius: 5px;
                        background-color: $color-primary;
                        color: $color-background;
                        font-size: 1.5rem;
                        cursor: pointer;
                        transition: all 0.3s;
                        width: 100%;

                        &:hover {
                            background-color: $color-secondary;
                        }

                    }

                    .loader-wrapper {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 1rem;
                        padding-top: 12px;
                    }
                }

                .success-message,
                .error-message {
                    position: absolute;
                    width: 452px;
                    bottom: -100px;
                    left: 0;
                }

                .success-message {
                    box-shadow: 0 0 2rem $color-success;
                }

                .error-message {
                    bottom: -80px;
                    box-shadow: 0 0 2rem $color-error;
                }
            }

            @include respond(tab-land) {
                //padding: .5rem;
                width: inherit;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                padding: 2rem 2rem;
            }
        }

        .section-contact__image {
            //border: 2px solid rgba( $color-primary, .5);
            border-left: 1px;
            //@include smoothFadingGradient( right bottom, 39, 55, 77 );
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
            position: relative;

            img {
                height: 100%;
                width: 400px;
                object-fit: cover;
                border-bottom-right-radius: 10px;
                border-top-right-radius: 10px;
                filter: grayscale(1);
                transition: all 1s;
            }

            #overlay {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba( $color-background, .8 );
                z-index: 2;
                border-bottom-right-radius: 10px;
                border-top-right-radius: 10px;
            }

            @include respond(tab-land) {
                display: none;
            }
        }

        .section-contact__image:has(#overlay:hover) {
            img {
                transition: all 1s;
                filter: grayscale(0);
            }
        }


        @include respond(tab-land) {
            padding: 0;
            width: fit-content;
            position: relative;
            transform: translate(0);
            top: 0;
            left: 0;
            border: none;
        }
    }

    @include respond(tab-land) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10em 1em;
    }
}
